
@{
    ViewBag.Title = "About";
    ViewBag.Message = "Recipes from all around the world.";
}


<center>
    <canvas id="myCanvas" width="800" height="65">
        Recipes from all around the world.
    </canvas>
    <script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.font = "20px Arial";
    ctx.strokeText('@ViewBag.Message', 10, 50);
    </script>
</center>

<style>

    aside {
        width: 40%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        box-shadow: inset 5px 0 5px -5px #29627e;
        font-style: italic;
        color: #29627e;
    }

        aside > p {
            margin: .5rem;
        }

    p {
        font-family: 'Liu Jian Mao Cao', cursive;
    }
</style>

<br />
<center>
    <video autoplay="autoplay" width="500" height="450" and loop>
        <source src="~/Content/media/7 Recipes You Can Make In 5 Minutes.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</center>
<br />

<header>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lobortis odio non est placerat dictum.
    Cras ac bibendum sem. Integer placerat nisl ut dui bibendum, quis pharetra ipsum porta.
    Nunc fermentum leo ut facilisis eleifend. Praesent volutpat, dolor id pellentesque vulputate,
    urna erat efficitur dui, eget interdum risus nisi sit amet orci. Donec feugiat,
    ipsum eu pellentesque fermentum, lacus libero iaculis elit, et tempor nulla odio vel nisi.
    Sed eget augue odio. Maecenas volutpat facilisis accumsan. Integer suscipit cursus mi,
    at placerat elit imperdiet id. Etiam ac facilisis quam, non molestie felis.
    Curabitur venenatis elit id elit ultricies rhoncus. Vestibulum gravida felis at vehicula ornare.
    Maecenas ornare pretium ligula eu ultricies. Fusce sollicitudin massa at mi faucibus, at scelerisque
    ligula volutpat.
</header>
<p>
    <aside>
        Suspendisse fringilla justo ac ligula aliquam dignissim.
        Suspendisse ullamcorper odio et interdum consectetur.
        Etiam viverra ac neque non lacinia. Curabitur imperdiet velit eros,
        ac fringilla metus aliquet et. Nullam laoreet vestibulum diam vitae pretium.
        Curabitur bibendum urna nibh, nec iaculis nunc pretium in. Aliquam mollis tellus eget arcu pulvinar posuere.
        Etiam varius sagittis ipsum, vestibulum eleifend diam vestibulum vestibulum. Cras consequat lectus quis
        tincidunt pharetra. Praesent vel nisl tempus, pretium sem ac, aliquet nunc. Integer et sagittis velit,
        at euismod purus. Mauris elementum justo turpis, in posuere nisi tincidunt vitae.
        In lacinia varius ipsum vitae semper. Nam a dictum diam, vitae tincidunt tortor aside.
    </aside><br />
    Praesent ac dui ac metus mollis commodo. Nullam magna leo, tincidunt tincidunt augue sed,
    placerat interdum nulla. Pellentesque laoreet egestas enim non accumsan.
    Pellentesque finibus aliquet enim at ullamcorper. Vivamus cursus, nibh faucibus laoreet tristique,
    ipsum odio aliquet erat, varius cursus velit arcu vel nibh. Sed ultricies libero vel leo scelerisque molestie.
    Cras lacinia a ipsum vitae sollicitudin. Suspendisse odio enim, sodales sit amet lacus non,
    malesuada ultricies velit. Sed quis mauris porttitor justo porta lobortis tincidunt at massa.
    Nulla facilisi. Cras pharetra fermentum dui eget fermentum.

    Donec odio est, finibus vel ante ut, ultrices venenatis orci. Pellentesque in est tincidunt, convallis nulla nec, elementum leo. Curabitur et mi ante. Aenean sollicitudin ligula ullamcorper leo bibendum dignissim a porttitor velit. Fusce quis luctus justo. Nunc posuere nisi sit amet venenatis venenatis. Morbi tempus nec lacus at vehicula. Phasellus tristique volutpat cursus. Nam dui arcu, venenatis in rhoncus quis, faucibus nec lorem. Phasellus consectetur, augue eget tincidunt pharetra, neque urna viverra orci, facilisis tempor nulla risus ut magna. Mauris aliquet nunc nec ante sollicitudin finibus. Curabitur semper nisi est, a malesuada mauris dictum eget. Pellentesque sed diam urna. Pellentesque et sagittis purus.
</p>
<br />
<footer>
    Suspendisse potenti. Sed eu molestie nunc. Proin venenatis consequat risus, vel lobortis ipsum suscipit nec. Praesent a ornare nisl. Nunc ut pretium neque. Suspendisse at suscipit magna. Vestibulum bibendum turpis massa, eget consectetur arcu dignissim sed. Praesent nec justo felis. Nulla facilisi. Fusce porttitor sed urna vitae faucibus. Maecenas nec libero id orci gravida pharetra sit amet ut risus. Proin vitae pretium turpis, vel iaculis neque. Sed scelerisque aliquam lorem vitae porta. Ut interdum vulputate quam sit amet eleifend. Pellentesque rutrum orci eget metus pharetra bibendum.
</footer>


<!doctype html>
<html>
@{
    ViewData["Title"] = "Weather";
}
<head>
    <title>Weather API</title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            crossorigin="annonymous"></script>
</head>
<header>
    <h1>Type your city. . </h1>
</header>
<body>
    <input id="city"></input>
    <button id="getWeatherForcast">Get Weather</button>
    <div id="showWeatherForcast"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#getWeatherForcast").click(function () {
                var city = $("#city").val();
                var key = 'f69973a057a37f6ef092f189009cf9ba';
                $.ajax({
                    url: 'http://api.openweathermap.org/data/2.5/weather',
                    dataType: 'json',
                    type: 'GET',
                    data: { q: city, appid: key, units: 'metric' },
                    success: function (data) {
                        var wf = '';
                        $.each(data.weather, function (index, val) {
                            wf += '<p><b>' + data.name + "</b><img src=" + data.icon + ".png ></p>" +
                                data.main.temp + '&deg;C ' + ' | ' + val.main + "," + val.description
                        });
                        console.log(wf);
                        $("#showWeatherForcast").html(wf);


                    }
                });
            });
        });
    </script>
    <h6>WEATHER</h6>
</body>
</html>

<p>Developed By: Rita, Lior, Hofit and Nirit.</p>
