@using SmartKitchen3.Models
<div class="hero-image">
    <div class="hero-text">
        <div class="logo-bg">
            <img src="~/Content/images/SKS logo.png">
        </div>
        <h1>YOUR SMART COOKING ASSISTANT</h1>
        <p></p>
    </div>
</div>
