@font-face {
    src: url(https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap);
    font-style: normal;
    font-weight: 400;
}

h2 {
    text-shadow: 3px 3px #e69e2c;
    font-family: 'Liu Jian Mao Cao', cursive;
}

div div button {
    transition-timing-function: ease-in;
    -webkit-transition: width 2s;
    transition: width 2s;
}

div div button:hover {
        width: 105px;
        transition-delay: 3s;
}

div.par {
    column-count: 2;
    column-gap: 30px;
}

div.jumbotron.TT {
    border: 0.5px solid #e69e2c;
    padding: 10px;
    border-radius: 15px
}

@font-face {
    src: url(https://fonts.googleapis.com/css?family=Fredoka+One&display=swap);
    font-style: normal;
    font-weight: 400;
}


h1 {
    font-family: 'Fredoka One', cursive;
}
p {
    font-family: 'Fredoka One', cursive;
}