@model SmartKitchen3.Models.Category
@{
    ViewBag.Title = "Details";
}

<div>
    <h3>Category Details</h3>
    <hr />
    <div class="form-border">
    <fieldset disabled>
        <div class="row" style="padding-bottom:5px; padding-top:5px;">
            <div class="col-md-2">
                @Html.LabelFor(m => m.CategoryName, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })

            </div>
        </div>

    </fieldset>
</div>
</div>

<br />

<p>
    @Html.Partial("_BackToListButtonPartial")
    @Html.Partial("_EditButtonPartial", Model.CategoryId)
</p>
