@model IEnumerable<SmartKitchen3.Models.Category>
@using SmartKitchen3.Models
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Content/Design.css" />
<h2>Category</h2>

@Html.Partial("_CreateButtonPartial")
<br/>
<br/>


<table class="table table-condensed table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.CategoryName)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m=>item.CategoryName)

            </td>
            <td>
            @Html.Partial("_TableButtonPartial",new IndividualButtonPartial {CategoryId=item.CategoryId })
            </td>
        </tr>
    }

</table>
<div class="jumbotron TT">

    <div class="par">

        <section >

            <font size="3">
                "On the other hand, we denounce with righteous indignatio
                n and dislike men who are so beguiled and demoralized by
                the charms of pleasure of the moment, so blinded by desire,
                that they cannot foresee the pain and trouble that are bound 
                to ensue; and equal blame belongs to those who fail in their duty
                through weakness of will, which is the same as saying through 
                shrinking from toil and pain. These cases are perfectly simple 
                and easy to distinguish. In a free hour, when our power of
                choice is untrammelled and when nothing prevents our being able 
                to do what we like best, every pleasure is to be welcomed and every pain avoided. 
                But in certain circumstances and owing to the claims of duty or the obligations of business
                it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man
                therefore always holds in these matters to this principle of selection: he rejects pleasures to secure
                other greater pleasures, or else he endures pains to avoid worse pains."

            </font>
        </section>
    </div>



</div>
